html {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    font-style: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}
.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.row > img {
    width: 100px;
    height: auto;
    padding: 10px;
}
